# Azure DevOps Configuration
AZURE_DEVOPS_ORG=OXXOSWD
AZURE_DEVOPS_PROJECT=SCM-ServiceHub-StaffIng
AZURE_DEVOPS_PAT=tu_token_personal_access_aqui
AZURE_DEVOPS_WORK_ITEM_TYPE=SCM%20Ing%20Back%20Office
